<div class="burger-menu-wrapper" [@burgerMenu]="animationState">
  <div class="burger-icon">
    <i class="las la-bars" (click)="openMenu()" [@burgerMenu]="burgerState"></i>
  </div>
  <div class="burger-menu-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae minima iure molestiae numquam provident repudiandae ut placeat et repellat quasi natus pariatur odio dolores, temporibus deleniti obcaecati officia eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae minima iure molestiae numquam provident repudiandae ut placeat et repellat quasi natus pariatur odio dolores, temporibus deleniti obcaecati officia eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae minima iure molestiae numquam provident repudiandae ut placeat et repellat quasi natus pariatur odio dolores, temporibus deleniti obcaecati officia eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae minima iure molestiae numquam provident repudiandae ut placeat et repellat quasi natus pariatur odio dolores, temporibus deleniti obcaecati officia eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae minima iure molestiae numquam provident repudiandae ut placeat et repellat quasi natus pariatur odio dolores, temporibus deleniti obcaecati officia eum.</p>
  </div>
</div>
