<div class="header-wrapper">
  <div class="header-content">
    <div class="header-menu-wrapper">
      <div class="menu">
        <app-header-menu></app-header-menu>
      </div>
      <div class="menu-burger">
        <app-header-menu-burger></app-header-menu-burger>
      </div>
    </div>
    <div class="header-information">
      <img src="assets/header/Mask Group 1.png" alt="Night Camping">
      <div class="header-information-content">
        <h1>The travellers always travel the most beautiful places of the world</h1>
        <button (click)="keepReading()">keep reading</button>
      </div>
    </div>
  </div>
</div>
