<section class="sign-in">
  <div class="container">
      <div class="signin-content">
          <div class="signin-image">
              <figure><img src="assets/sign-in/signin-image.jpg" alt="sing up image"></figure>
              <a [routerLink]="['/register']"  class="signup-image-link">Create an account</a>
          </div>

          <div class="signin-form">
              <h2 class="form-title">Sign in</h2>
              <form class="register-form" id="login-form" [formGroup]="this.loginForm">
                  <div class="form-group">
                      <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="email" name="your_email" id="your_name" placeholder="Your email" formControlName="email"/>
                  </div>
                  <div class="form-group">
                      <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" name="your_pass" id="your_pass" placeholder="Password" formControlName="password"/>
                  </div>
                  <div class="form-group">
                      <input type="checkbox" name="remember-me" id="agree-term" formControlName="remember"/>
                      <label for="remember-me" class="label-agree-term">Remember me</label>
                  </div>
                  <div class="form-group form-button">
                      <input (click)="login(this.loginForm.get('email').value, this.loginForm.get('password').value, this.loginForm.get('remember').value)" [disabled]="this.loginForm.invalid" type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                  </div>
              </form>
              <div class="social-login">
                  <span class="social-label">Or login with</span>
                  <ul class="socials" id="socials">
                      <li><i (click)="facebookAuth()" class="lab la-facebook-f display-flex-center zmdi zmdi-facebook"></i></li>
                      <li><i (click)="googleAuth()" class="lab la-google display-flex-center zmdi zmdi-google"></i></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
